<div class="clearfix" style="margin-top: 34px;">
	<div class="notice">
		<% if (lutas_restantes && lutas_restantes > 0){ %>
			<div class="notice">
				<%- portugues ? 'Você tem ' + lutas_restantes + (lutas_restantes == 1 ? ' luta restante' : ' lutas restantes' ) +'.' : 'You have ' + lutas_restantes + (lutas_restantes == 1 ? ' fight' : ' fights' ) + ' remaining.' %>
			</div>
		<% }else{ %>
			<%- portugues ? 'Seu meme está cansado, volte amanhã. Quer mais lutas? <a href="loja">Clique aqui</a>' : 'Your meme is tired, come back tomorrow. Want more? <a href="loja">Clique here</a>' %>
		<% } %>
	</div>
</div>
<hr />

<div class="clearfix">
	<div class="tit-ranking" style="font-size:16px; margin-left:50px; float:left; height: 25px; padding:16px 0;">
		<%= portugues ? "Com quem você quer lutar?" : "Who to fight?" %>
	</div>
	<div class="busca">
		<form id="frmBusca" action="arena">
			<%= portugues ? "Buscar" : "Search" %>:<br />
			<input type="text" name="busca" value="<%= (typeof busca != 'undefined') ? busca : '' %>" />
			<input type="image" src="<%= process.env.CDN %>img/icons/magnifier.png" />
		</form>
	</div>
</div>

<ul class="memes-arena clearfix">
	<% if(players.length == 0){ %>
		<div class="nenhum-resultado" style="width:720px; text-align:center; padding:20px 0;">
			<%= portugues ? "Nenhum resultado econtrado" : "No results found" %>
		</div>
	<% }else{ %>
		<% players.forEach(function(player){ %>
			<li> 															 
				<a href="luta?vs=<%= player.uid %>" class="link_luta">&nbsp;</a>
				<div class="perfil">										 
					<div style="width:500px; height:21px">					 
							<a href="perfil?uid=<%= player.uid %>">			 
								<%= player.nome %>							 
							</a>											 
					</div>													 
				</div>														 
				<div class="meme <%= player.meme_src %> <%= player.genero == 'female' ? 'derpina' : '' %>" style="border:1px solid #CCC"></div>																								
				<div class="foto">																		 
					<img src="https://graph.facebook.com/<%= player.uid %>/picture?type=large" border="0" />
				</div>																					 
				<div class="level">																		 
					<%= portugues ? 'Nv' : 'Lv' %>
					<%= player.level %>									 
				</div>																					 
			</li>
			<script type="text/javascript" charset="utf-8">
				if(typeof arena_uids == 'undefined') arena_uids = [];
				arena_uids.push('<%= player.uid %>');
			</script>
		<% }) %>
	<% } %>
</ul>

<a href="#" class="mais-memes no-follow">
	<div class="tit-ranking" style="font-size:16px; margin:20px 0 0 250px; height: 25px; padding:16px 0;">
		<%= portugues ? "Mais Memes" : "More Memes" %>
	</div>
</a>

<script type="text/javascript" charset="utf-8">
	(function(){
		
		if(typeof arena_uids == 'undefined') arena_uids = [];
		
		$('form#frmBusca').live('submit', function() {
			if($('.arena-loading').length == 0){
				$('.memes-arena').html('<center><img src="<%= process.env.CDN %>img/loading.gif" class="arena-loading" /></center>');
			
				$.get('arena', $(this).serialize() + '&socket_id=' + socket_id, function(data){
					$('.conteudo').html(data);
					ajaxizar_links();
				});
			}
			return false;
		});
		$('.memes-arena li img').each(function() {
			$(this).load(function(){
				if($(this).height() > $(this).width()){
					$(this).css('width', '111px');
				}else{
					$(this).css('height', '111px');
				}
			});
		});
		
		$('.mais-memes').live('click', function() {
			if($('.arena-loading').length == 0){
				$('.memes-arena').append('<center style="clear:both" class="arena-loading"><img src="<%= process.env.CDN %>img/loading.gif" /></center>');
				$.get('_arena', {arena_uids: arena_uids.join(",")}, function(data) {
					$('.arena-loading').remove();
					$('.memes-arena').append(data);
					if(arena_uids.length > 0){
						$('.nenhum-resultado').remove();
					}
					ajaxizar_links();
					cached_pages['arena'] = $('.conteudo').html();
				});
				return false;
			}
		});
		
	})();
</script>