<!--

O layout do jogo é esta página index, já que o resto carrega por ajax na div .conteudo

-->

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Meme Kombat</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="Meme Kombat" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="<%= process.env.FACEBOOK_APP_URL %>" />
  <meta property="og:image" content="<%= process.env.CDN %>img/logo_post.png" />
  <meta property="og:site_name" content="Meme Kombat" />
  <meta property="fb:app_id" content="<%= process.env.FACEBOOK_APP_ID %>" />

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
  <link rel="stylesheet" href="<%= process.env.CDN %>css/boilerplate.css">
  <link rel="stylesheet" href="<%= process.env.CDN %>css/application.css">

  <script src="<%= process.env.CDN %>js/libs/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/jquery.jplayer.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/jquery.preloader.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/luta.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/database.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/movimento.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/habilidades.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/armas.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/eventos.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/sons.js"></script>
  <script type="text/javascript" charset="utf-8" src="<%= process.env.CDN %>js/jquery.backgroundPosition.min.js"></script>

  	<script type="text/javascript">
      function popup(pageURL, title,w,h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var targetWin = window.open(
          pageURL,
          title,
          'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
          );
      }

    </script>
	<script type="text/javascript" charset="utf-8">
		cached_pages = {}; // para cachear as páginas carregadas por ajax
		//atualizar_social = 0;
		//tweetou = false;
		pagina_atual = '';
		cdn = '<%= process.env.CDN %>';
		function cache_page(url, data){ // salva página em cache
			pagina_atual = url;
			if(url.indexOf('luta') >= 0 && url.indexOf('vs') >= 0){ // ao entrar na luta o cache do perfil é apagado (pois o personagem ganha exp, notificações, lvl, etc)
				cached_pages['perfil'] = null;
				cached_pages['perfil?uid=' + url.split('vs=')[1]] = null;
			}else if(url.indexOf('campeonato') >= 0 && url.indexOf('?finalizar') >= 0){ // ao finalizar o campeonato, o cache do campeonato, ranking e perfil são apagados
				tempo_restante = undefined;
				cached_pages['ranking'] = null;
				cached_pages['perfil'] = null;
				cached_pages['campeonato'] = null;
				cached_pages['campeonato?proxima_luta=true'] = null;
				cached_pages['campeonato?finalizar=true'] = null;
			}else if(url.indexOf('campeonato') >= 0 && url.indexOf('?') >= 0){ // ao entrar no campeonato com algum parâmetro, os caches de campeonato são apagados
				tempo_restante = undefined;
				cached_pages['campeonato'] = null;
				cached_pages['campeonato?proxima_luta=true'] = null;
				cached_pages['campeonato?finalizar=true'] = null;
			}else if(url.indexOf('sair_campeonato') >= 0){ // ao sair do campeonato o cache do perfil é apagado
				cached_pages['perfil'] = data;
			}else{
				cached_pages[url] = data;
			}
		}
		function ajaxizar_links(){ // faz todos os links, exceto os que tiverem a class no-follow ou no-rel passarem a ser abertos via ajax
			$('a').each(function() {
				if (!$(this).hasClass('no-follow') && !$(this).hasClass('no-rel') && ($(this).attr('rel') == '' || $(this).attr('rel') == undefined)) {
					$(this).attr('rel', $(this).attr('href'));
					$(this).attr('href', '#');
				};
			});
			atualizar_twitter(); // atualiza o botão do twitter
		}
	</script>
	<script type="text/javascript" charset="utf-8">
		var portugues = <%= portugues ? 'true' : 'false' %>;
	</script>
</head>

<body>
	<div class="backlight"></div>
	<div class="badge">
		<div class="texto cima"></div>
		<img src="<%= process.env.CDN %>img/loading51.gif" />
		<div class="texto baixo"></div>
	</div>
	<div class="carregando">
		<img src="<%= process.env.CDN %>img/loading51.gif" />
	</div>
<div style="height:95px">
<div class="topo clearfix">
	<div class="megusta_button">
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMemeKombat&amp;send=false&amp;layout=button_count&amp;width=130&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;locale=es_ES&amp;appId=251027861615668" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
	</div>
	<div class="logo">
		<img src="<%= process.env.CDN %>img/logo.png" alt="Meme Kombat" />
	</div>
	<ul class="menu">
		<li><a href="perfil"><%= portugues ? "Início" : "Home" %></a></li>
		<li><a href="arena">Arena</a></li>
		<li><a href="ranking">Ranking</a></li>
		<li class="last"><a href="loja"><%= portugues ? "Loja" : "Store" %></a></li>
	</ul>
</div>
</div>

<div class="conteudo">
</div>
<br /><br />
<div class="rodape">
	<div class="pessoas clearfix">
			<% if(friends_using && friends_using.length > 0){ %>
				<div class="quem-mais">
					<%= portugues ? "Amigos que já jogam" : "Friends on Meme Kombat" %> <br />
			    	<ul class="clearfix">
		    			<% friends_using.forEach(function(friend){ %>
							<li>
								<a href="perfil?uid=<%= friend.id %>">
									<img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.nome %>" />
								</a>
							</li>
						<% }); %>
			    	</ul>
					<small><%= portugues ? "Clique para desafiá-los" : "Click to fight them" %></small>
				</div>
			<% } %>
			<% if(friends_not_using && friends_not_using.length > 0){ %>
				<div class="quem-deveria">
					<%= portugues ? "Quem pode ser seu pupilo" : "They can be your pupil" %><br />
			    	<ul class="clearfix">
			    		<% friends_not_using.forEach(function(friend){ %>
							<li>
								<a href="#" uid="<%= friend.id %>" class="no-follow">
									<img src="<%= friend.picture.data.url %>" alt="<%= friend.nome %>" />
								</a>
							</li>
						<% }); %>
			    	</ul>
					<small>
						<%- portugues ? '<a href="#" class="convidar-amigos no-follow">Ver mais</a>' : '<a href="#" class="convidar-amigos no-follow">All friends</a>' %>
					</small>
				</div>
			<% } %>
	</div>

  </center>


  <div class="creditos">
    <hr />
    <p>
		© <%= (new Date()).getFullYear() %> <a href="https://www.facebook.com/LABINC" class="no-rel" target="_blank">Like a Boss</a> Inc.
		<%= (portugues ? "Hora no servidor " : "Server's time ") + hora_servidor %> |
		<a href="#" class="ajuda no-rel" style="color:#000; text-decoration:underline"><%= portugues ? "Como jogar" : "How to play" %></a>
		|
		<a href="/signout" class="ajuda no-rel" style="color:#000; text-decoration:underline">Logout</a>
		<br />
	</p>
	</div>

	<!--hr />
	<?php

	#$info = FBUtils::fetchFromFBGraph("me?fields=third_party_id&access_token=$token");
	#$third_party_id = $info->third_party_id;

	?>
	<div id="applifier_bar"></div>
	<script type="text/javascript">
	(function() {
	  window.applifierAsyncInit = function() {
	    var bar = new Applifier.Bar({applicationId: 1653, thirdPartyId: "<?php #echo $third_party_id ?>", barType: "bar", barContainer: "#applifier_bar"});
	  };

	  var a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;
	  a.src = (('https:' == document.location.protocol) ? 'https://secure' : 'http://cdn') + '.applifier.com/applifier.min.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
	})();
	</script-->

</div>

<div id="fb-root"></div>

<!--script src="//connect.facebook.net/<%= portugues ? 'pt_BR' : 'en_US' %>/all.js#appId=<%= process.env.FACEBOOK_APP_ID %>&xfbml=1"></script-->
<script>

	(function() {
	   var e = document.createElement('script'); e.async = true;
	   e.src = document.location.protocol + '//connect.facebook.net/<%= portugues ? 'pt_BR' : 'en_US' %>/all.js';
	   document.getElementById('fb-root').appendChild(e);
    }());

	function requestCallback(response) {
	        // Handle callback here
	      }
	function sendRequestToOneRecipient(user_id) {
	    FB.ui({
			method: 'apprequests',
	    	message: '<%= portugues ? "Seja meu pupilo" : "Be my pupil" %>',
	    	to: user_id
	    }, requestCallback);
	  }
	function sendRequestToManyRecipients() {
	  FB.ui({method: 'apprequests',
	    message: '<%= portugues ? "Seja meu pupilo" : "Be my pupil" %>'
	  }, requestCallback);
	}

	function atualizar_twitter(){
		try{
			twttr.widgets.load();
		}catch(err){}
	}
</script>

<?php session_write_close(); mysql_close(); ?>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
<script type="text/javascript" charset="utf-8">
	(function() {
		// centraliza a imagem de carregando
		$('.carregando img').css({marginLeft: ($('body').width() + 128) / 2 + 40});

		// ao clicar nas insígnias, fazem ela abrir por cima da tela com seu respectivo texto
		$('.small_badge').live('click', function() {
			$('.badge img').attr('src', "<%= process.env.CDN %>img/badges/" + $(this).attr('data-img'));
			$('.badge .texto.cima').html($(this).attr('data-up'));
			$('.badge .texto.baixo').html($(this).attr('data-down'));
			$('.badge .texto.baixo').css('margin-top', "-" + (62 * (parseInt($(this).attr('data-down').length / 13) + 1)) + "px");
			$('.backlight').fadeIn();
			$('.badge').fadeIn();
		});

		// abre a imagem de instruções na tela ao clicar em ajuda
		$('.ajuda').live('click', function() {
			$('.badge img').attr('src', "<%= process.env.CDN %>img/instrucoes<%= portugues ? '' : '_en' %>.jpg");
			$('.backlight').fadeIn();
			$('.badge').fadeIn();
		});

		// exibe a imagem de instruções na tela caso seja novo personagem
		<% if(novo_personagem){ %>
			$('.badge img').attr('src', "<%= process.env.CDN %>img/instrucoes<%= portugues ? '' : '_en' %>.jpg");
			$('.backlight').fadeIn();
			$('.badge').fadeIn();
		<% } %>

		// fade out ao clicar fora da insígnia aberta na tela
		$('.badge, .backlight').click(function() {
			$('.backlight').fadeOut();
			$('.badge').fadeOut();
		});

		// se for novo personagem, vai direto para a arena, se tiver algum link para redirecionar, redireciona, se não, abre o perfil
		<%
			var redir = false;
			if(novo_personagem){
				redir = "arena";
			}else if(typeof session_fight != 'undefined'){
				redir = "luta/" + session_fight;
			}else{
				redir = 'perfil';
			}
		%>
		<% if(redir){ %>
			$('.carregando').fadeOut();
			$.get('<%= redir %>', function(data) {
				$('.conteudo').html(data);
				ajaxizar_links();
				cache_page('<%= redir %>', data); // faz cache da página
			});
		<% }else{ %>
			$('.carregando').fadeOut();
			cache_page('perfil', $('.conteudo').html()); // faz cache da página
		<% } %>

		ajaxizar_links(); // faz os links passarem a abrir por ajax

		// carrega os links 'ajaxsarizados'
		$('a[rel]').live('click', function() {
			if (!$(this).hasClass('no-rel')) {
				/*if ($(this).hasClass('erase-content')) {
					FB.Canvas.setSize({height: 300});
					$('.conteudo').html("");
				}*/
				var url = $(this).attr('rel');
				if(cached_pages[url] == undefined || cached_pages[url] == null){ // caso a imagem não esteja no cache

					// mostra a imagem de carregando
					$('.carregando').show();
					$('.carregando').css({'opacity': '0'});
					$('.carregando img').css({marginLeft: ($('body').width() + 128) / 2 + 40});
					$('.carregando').animate({'opacity': '0.5'});
					carregando_timeout = setTimeout(function(){ // caso não carregue, esconde o carregando pro usuário clicar no link de novo (solução FAIL)
						$('.carregando').fadeOut();
					}, 10000);
					// faz um get
					$.get(url, function(data){
						clearTimeout(carregando_timeout);
						// para a luta, caso haja uma em andamento
						parar_luta();
						// carrega o conteudo
						$('.conteudo').html(data);
						// esconde o carregando na tela
						$('.carregando').fadeOut();
						// 'ajaxiza' os links de novo
						ajaxizar_links();
						// cacheia a página
						cache_page(url, data);
					});
				}else{
					// para a luta, caso haja uma em andamento
					parar_luta();
					// substitui o conteúdo pela página cacheada
					$('.conteudo').html(cached_pages[url]);
					// 'ajaxiza' os links de novo
					ajaxizar_links();
				}

				/*if(atualizar_social > 0){
					$.post('_atualizar_social', {luta_id: atualizar_social, tweetou: (tweetou ? 1 : 0)});
					atualizar_social = 0;
					tweetou = false;
				}*/

				return false;
			}
		});

		// clica no link para convidar amigos
		$('.convidar-amigos').live('click', function() {
			sendRequestToManyRecipients(); // abre uma tela com todos os amigos
			return false;
		});
		// clica em alguém que ainda não joga
		$('.quem-deveria li a').live('click', function() {
			sendRequestToOneRecipient($(this).attr('uid')); // abre um box para convidar aquele amigo
			return false;
		});

		// efeito carousel nas armas do personagem
		$('.seta').live('click', function() {
			var wrapper = $('.carousel .wrapper');
			var pos = wrapper.position().left;
			var max = $('.carousel ul').length - 1;
			if($(this).hasClass('dir')){
				pos -= 178;
			}else{
				pos += 178;
			}
			if(pos < -178 * max){
				pos = 0;
			}else if(pos > 0){
				pos = -178 * max;
			}
			wrapper.animate({left: pos + 'px'});
		});

	})();
</script>
</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript">

	// google analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26500030-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	function extractParamFromUri(uri, paramName) {
	  if (!uri) {
	    return;
	  }
	  var uri = uri.split('#')[0];  // Remove anchor.
	  var parts = uri.split('?');  // Check for query params.
	  if (parts.length == 1) {
	    return;
	  }
	  var query = decodeURI(parts[1]);

	  // Find url param.
	  paramName += '=';
	  var params = query.split('&');
	  for (var i = 0, param; param = params[i]; ++i) {
	    if (param.indexOf(paramName) === 0) {
	      return unescape(param.split('=')[1]);
	    }
	  }
	}

	// social track do twitter
	twttr.events.bind('tweet', function(event) {
	  if (event) {
	    var targetUrl;
	    if (event.target && event.target.nodeName == 'IFRAME') {
	      targetUrl = extractParamFromUri(event.target.src, 'url');
	    }
	    _gaq.push(['_trackSocial', 'twitter', 'tweet', targetUrl]);
		tweetou = true;
	  }
	});

</script>

</body>
</html>
