<div style="float:right; margin-right:20px">
	<a href="#" class="lnkGanheCreditos">
		Ganhe Créditos<img src="<%= process.env.CDN %>img/fb-coin.png" border="0" style="width:25px; height:25px; vertical-align:middle; margin-left:10px" />
	</a>
</div>

<div style="font-size:18px; color:#474747; margin:30px 30px;">
	<%= portugues ? "Três lutas não são suficientes?" : "Three fights are not enought?" %>
</div>

<ul class="mais_lutas clearfix lutas">
	<li class="mais um" order="https://memekombat.herokuapp.com/1-extra-fight.html">
		<div class="num <%= portugues ? '' : "en" %>"></div>
		<div class="custo_creditos">
			<div class="quant">
				<%= portugues ? "0,29" : "0.29" %>
			</div>
			<div class="fb_coin">
				<img src="<%= process.env.CDN %>img/fb-coin.png" border="0" />
			</div>
		</div>
	</li>
	<li class="mais tres" order="https://memekombat.herokuapp.com/3-extra-fights.html">
		<div class="num <%= portugues ? '' : "en" %>"></div>
		<div class="custo_creditos">
			<div class="quant">
				<%= portugues ? "0,49" : "0.49" %>
			</div>
			<div class="fb_coin">
				<img src="<%= process.env.CDN %>img/fb-coin.png" border="0" />
			</div>
		</div>
	</li>
	<li class="mais cinco" order="https://memekombat.herokuapp.com/5-extra-fights.html">
		<div class="num <%= portugues ? '' : "en" %>"></div>
		<div class="custo_creditos clearfix">
			<div class="quant">
				<%= portugues ? "0,79" : "0.79" %>
			</div>
			<div class="fb_coin">
				<img src="<%= process.env.CDN %>img/fb-coin.png" border="0" />
			</div>
		</div>
	</li>
</ul>


<div id="fb-root"></div>
<!--script src="https://connect.facebook.net/en_US/all.js">
</script-->
<script>

	//FB.init({appId: '<%= process.env.FACEBOOK_APP_ID %>', status: true, cookie: true});

	(function() {
		$('.mais_lutas.lutas li').click(function() {
			if (!$(this).hasClass("disabled")) {
				comprar($(this).attr('order'));
			}
		});
		$('.mais_lutas.arma_vip li').click(function() {
			if (!$(this).hasClass("disabled")) {
				comprar_arma($(this).attr('order'));
			}
		});
		$('.lnkGanheCreditos').click(function() {
			earnCredits();
			return false;
		});
	})();

	function earnCredits(){
	    // calling the API ...
	    var obj = {
	         method: 'pay',
	         credits_purchase: true,
	         dev_purchase_params: {"shortcut":"offer"}
	    };

	    FB.ui(obj, function(){
			// nada
		});
	 }

    function comprar(productUrl) {

    	FB.ui({
	      method: 'pay',
	      action: 'purchaseitem',
	      product: productUrl
	    },
	    function (res) {
	    	console.log(res);
	    	if(!res.error_message) {
	    		$('.carregando').show();
				  $('.carregando').css({'opacity': '0'});
		  	  $('.carregando').animate({'opacity': '0.5'});
				  cached_pages['loja'] = null;
				  cached_pages['arena'] = null;
				  cached_pages['perfil'] = null;
					pagina_atual = 'perfil';
					carregando_timeout = setTimeout(function(){
						$('.carregando').fadeOut();
					}, 10000);

					var message = {message: '<%= portugues ? "Compra confirmada, aproveite!" : "Payment confirmed, enjoy!" %>'};
					if (res.status && res.status === 'initiated') {
						message = {message: '<%= portugues ? "Processo de pagamento iniciado, aguarde confirmação." : "Payment initiated, please wait for confirmation." %>'};
					}

					setTimeout(function(){
						$.get('perfil', message, function(data){
							clearInterval(carregando_timeout);
					  	$('.conteudo').html(data);
					  	$('.carregando').fadeOut();
					  	ajaxizar_links();
					  });
					}, 5000);
	    	}
	    });

    }

	function comprar_arma(id){
		var order_info = { "tipo": 1,
	                        "arma": parseInt(id),
							"language": '<%= portugues ? "pt" : "en" %>'
	                    };

	      window.top.location = 'https://www.facebook.com/dialog/pay?app_id=<%= process.env.FACEBOOK_APP_ID %>&redirect_uri=<%= process.env.FACEBOOK_APP_HOME %>&credits_purchase=false&purchase_type=item&order_info='+encodeURI(JSON.stringify(order_info))

	      /*var obj = {
		    method: 'pay',
		    order_info: order_info,
		    purchase_type: 'item'
	      };

	      FB.ui(obj, callback);*/
	}

    var callback = function(data) {
      if (data['order_id']) {
		  $('.carregando').show();
		  $('.carregando').css({'opacity': '0'});
	  	  $('.carregando').animate({'opacity': '0.5'});
		  cached_pages['loja'] = null;
		  cached_pages['arena'] = null;
		  /*if (parseInt(data['tipo']) == 0) {
			$.get('arena.php', function(data){
			  	$('.conteudo').html(data);
			  	$('.carregando').fadeOut();
			  	ajaxizar_links();
			  });
		  }else{*/
			pagina_atual = 'perfil';
			carregando_timeout = setTimeout(function(){
				$('.carregando').fadeOut();
			}, 5000);
			$.get('perfil', {socket_id: socket_id}, function(data){
				clearInterval(carregando_timeout);
			  	$('.conteudo').html(data);
			  	$('.carregando').fadeOut();
			  	ajaxizar_links();
			  });
		  //}

      } else if (data['error_code']) {
      	// erro na transação
      } else {
        // falha na transação
      }
    };

</script>
