<style type="text/css" media="screen">
	.pessoas{display: none;}
</style>
<script type="text/javascript" charset="utf-8">

	atualizar_social = '<%= luta_id %>';

	lingua = '<%= portugues ? "pt_BR" : "en_US" %>';
	players = [
		{
			hp: <%= p1.hp %>,
			hp_max: <%= p1.hp %>
		},
		{
			hp: <%= p2.hp %>,
			hp_max: <%= p2.hp %>
		}
	];
	// [jogador, tipo, equipamento_id, habilidade_id, evento_id, dano]
	// 0 - ataque normal // 1 - contra ataque // 2 - esquivou // 3 - defendeu // 4 - pegar equipamento // 5 - habilidade // 6 - jogar equipamento fora // 7 - evento
	
	movimentos = [
		<%= movimentos %>
	];

	$(document).ready(function() {
		preload(function(){
			iniciar();
		});
		$('.bttOk').click(function() {
			$('.personagem[rel="0"]').attr("sprite", $('#slPersonagem1').val());
			$('.personagem[rel="1"]').attr("sprite", $('#slPersonagem2').val());
			movs = $("#txtMovimentos").val().split("],");
			movimentos = [];
			for(i = 0; i < movs.length; i++){
				movimentos[i] = eval(movs[i] + (movs[i].indexOf("]") < 0 ? "]" : ""));
			}
			preload(function(){
				iniciar();
			});
		});
		$('.lnkReplay').click(function() {
			$('.venceu').fadeOut();
			iniciar();
			return false;
		});
	});
</script>
<div id="sounds">
	<div class="sound" name="hit"></div>
	<div class="sound" name="esquiva"></div>
	<div class="sound" name="defesa"></div>
	<div class="sound" name="queda"></div>
</div>
<div id="wrapper-luta">
	<div id="luta">
		<div class="loading"></div>
		<div class="hp player" rel="0">
			<div class="bar"></div>
		</div>
		<div class="hp enemy" rel="1">
			<div class="bar"></div>
		</div>
		<div class="venceu" <%- is_friend ? '' : 'style="margin-top:0"' %>>
			<div class="nome"><small><%= vencedor.nome %></small></div>
			<div class="win"><%= portugues ? "VENCEU" : "WINS" %></div>
			<small>
				<ul class="menu_luta">
					<li class="clearfix">
						<% if(campeonato){ %>
							<a href="campeonato">
								<div class="img"><img src="img/icons/back.png" border="0"></div>
								<div class="txt"><%= portugues ? "retornar ao campeonato" : "return to championist" %></div>
							</a>
						<% }else if(lutas_restantes <= 1){ %>
							<a href="perfil">
								<div class="img"><img src="img/icons/back.png" border="0"></div>
								<div class="txt"><%= portugues ? "voltar para o perfil" : "go back to profile" %></div>
							</a>
						<% }else{ %>
							<a href="arena">
								<div class="img"><img src="img/icons/back.png" border="0"></div>
								<div class="txt"><%= portugues ? "ir pra arena" : "go to arena" %></div>
							</a>
						<% } %>
					</li>
					<li class="clearfix">
						<a href="#" class="lnkReplay">
							<div class="img"><img src="img/icons/replay.png" border="0"></div>
							<div class="txt" style="padding-top:5px">replay</div>
						</a>
					</li>
					<% if (is_friend){ %>
						<li class="clearfix">
							<a href="#" class="lnkPost">
								<div class="img"><img src="img/icons/facebook.png" border="0"></div>
								<div class="txt" style="padding-top:5px"><%= portugues ? "postar no mural de " + perdedor.nome.split(' ')[0] : "post to " + perdedor.nome.split(' ')[0] + "'s wall" %></div>
							</a>
						</li>
					<% } %>
				</ul>
			</small>
		</div>
		<div class="personagem" rel="0" sprite="<%= p1.meme_src %><%= p1.genero == 'female' ? "_derpina" : '' %>" status="parado" frame="0" pos="0">
			<a href="perfil?uid=<%= p1.uid %>">
				<div class="perfil">
					<img src="https://graph.facebook.com/<%= p1.uid %>/picture?type=square" />
					<div class="info">
						<%= p1.nome.split(' ')[0] %> <br />
						<%= portugues ? "Nv" : "Lv" %> <%= p1.level %>
					</div>
				</div>
			</a>
		</div>
		<div class="personagem mirror" rel="1" sprite="<%= p2.meme_src %><%= p2.genero == 'female' ? "_derpina" : '' %>" status="parado" frame="0" pos="0">
			<a href="perfil?uid=<%= p2.uid %>">
				<div class="perfil">
					<img src="https://graph.facebook.com/<%= p2.uid %>/picture?type=square" />
					<div class="info">
						<%= p2.nome.split(' ')[0] %> <br />
						<%= portugues ? "Nv" : "Lv" %> <%= p2.level %>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<hr />
<div class="clearfix">
	<div class="comentarios">
    	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('.lnkPost').click(function() {
					FB.ui(
					  {
					    method: 'feed',
					    name: 'Meme Kombat',
						to: '<%= perdedor.uid %>',
					    link: "<%= app_url %>?fight=<%= luta_id %>",
					    picture: "<%= app_home %>img/logo_post.png",
					    caption: '<%= portugues ? "Ei perdedor!" : "Hey Loser!" %>',
					    description: '<%= portugues ? "Derrotei você no Meme Kombat, meu meme é melhor que o seu!" : "I defeated you in Meme Kombat, my meme is better than yours!" %>'
					  }
					);
					return false;
				});
			});
			
		</script>
		<div class="fb-comments" data-href="<%= app_home %>luta/<%= luta_id %>" data-num-posts="5" data-width="500"></div>
	</div>
	<div class="redes">
		<div class="clearfix">
			<div style="float:left; margin-left:5px; margin-top:5px">
				<iframe src="//www.facebook.com/plugins/like.php?href=<%= escape(app_url + '?fight=' + luta_id) %>&amp;send=true&amp;layout=box_count&amp;width=120&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;locale=es_ES&amp;appId=251027861615668" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:80px" allowTransparency="true"></iframe>
			</div>
			<div style="float:left; margin-left:5px; margin-top:5px">
				<% if (portugues){ %>
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="<%=((short_url && short_url != "http://bit.ly/") ? short_url : "https://apps.facebook.com/meme_kombat/?fight=" + luta_id) %>" data-text="Que luta!" data-via="MemeKombat" data-via="memekombat" data-lang="pt">Tweetar</a>
				<% }else{ %>
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="<%=((short_url && short_url != "http://bit.ly/") ? short_url : "https://apps.facebook.com/meme_kombat/?fight=" + luta_id) %>" data-text="What a fight!" data-via="MemeKombat" data-via="memekombat" data-lang="en">Tweet</a>
				<% } %>
			</div>
		</div>
		<div style="margin:0 0 10px 30px">
			<%= portugues ? "Link da Luta" : "Fight Link" %>:<br />
			<input type="text" onmouseover="this.focus();this.select();" value="<%=((short_url && short_url != "http://bit.ly/") ? short_url : "https://apps.facebook.com/meme_kombat/?fight=" + luta_id) %>" readonly="readonly" style="width:120px" />
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	FB.XFBML.parse();
</script>